@model List<TarefaModel>
@{
    ViewData["Title"] = "Listagem das tarefas";
}

<div class="d-grid-gep-2 d-md-flex justify-content-md-start">
        <a class="btn btn-primary text-left" role="button" asp-controller="Tarefa" asp-action="Criar">Adicionar a nova Tarefa</a>
    </div>
    <br/>
<div class="text-center">

    <h1 class="display-4">Listagem de tarefas prontas</h1>

</div>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Titulo</th>
      <th scope="col">Descrição</th>
      <th scope="col">Data Inicio</th>
      <th scope="col">Data Fim</th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    
     @if(Model != null && Model.Any())
     {
          foreach (TarefaModel tarefa in Model)
          {
              <tr>
                <td scope="row">@tarefa.Id</td>
                <td>@tarefa.Titulo</td>
                <td>@tarefa.Descricao</td>
                <td>@tarefa.DataInicio</td>
                <td>@tarefa.DataFim</td>
                <td>
                   <a role="button" asp-controller="Tarefa" asp-action="Editar" class="btn btn-primary">Editar</a>
                </td>
                <td>
                  <a role="button" asp-controller="Tarefa" asp-action="ApagarConfirmacao" class="btn btn-danger">Apagar</a>
                </td>
              </tr>
          }
     } 
  </tbody>
</table>

